{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
	<div class="row">
		<h3 class="text-center">Редактировать новость</h3>
	</div>
	<div class="row">
		<div class="col-md-9 col-12 mx-md-auto mx-3 mt-3 mb-5">
			<div class="center">
				<form method=POST>
				 	{% csrf_token %}
					{{ form|crispy }}

					<div class="form-buttons">
						<input type="submit" value="Сохранить" class="btn btn-success"/>
						<a href="javascript:history.back()" class="btn btn-primary">Назад</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}