<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    <!-- <link rel="icon" href="data:;base64,="> -->
    <title>News</title>
</head>
<body>
    <main class="main">
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="col-2" style="background-color: rgb(231, 230, 181);">
                    <div class="container my-3 menu_fixed">
                        {% include 'core/nav.html' %}
                    </div>
                </div>     
                <div class="col-10">
                    {% block content %}
                    {% endblock content %}
                </div>         
            </div>
        </div>
    </main>
    
    <footer class="footer fixed-bottom">
        {% include 'core/footer.html' %}
    </footer>

    <script src="{% static 'core/js/bootstrap.min.js'%}"></script>
    <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
</body>
</html>