{% extends 'core/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-11 mx-md-auto mx-3 mt-md-0 mt-3">
            <h1>Удалить запись с сайта</h1>
            <h3>Ты действительно хочешь удалить эту статью?</h3>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" type="submit">Подтвердить</button>
                    </div>
                    <div class="col-6 text-start">
                        <a class="btn btn-primary" href="{% url 'index' %}">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}