{% extends 'core/base.html' %}

{% block content %}

    <div class="mx-2">
        <a href="{% url 'index' %}">Отмена</a>
    </div>

    <div class="row">
        <div class="col-md-6 col-11 mx-md-auto mx-3 mt-md-0 mt-3">
            <h1>Удалить запись с сайта</h1>
            <h3>Ты действительно хочешь удалить эту статью?</h3>

            <form action="" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Подтвердить</button>
            </form>
        </div>
    </div>

{% endblock content %}