{% extends 'core/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9 col-12 mx-md-auto mb-3 pb-2 mx-3 my-3">
        <h3 class="text-center">{{ object.title }}</h3>
        
        <img src="{{ object.image.url }}" class="card-img-top" alt="Что то пошло не так, изображения нет!">

        <div class="row">
            <div class="col-10">
                <p class="text-muted">Автор: {{ object.author.username }}  |  Дата: {{ object.date }} </p>
            </div>
            <div class="col-2 text-end">
                {% if request.user.is_authenticated %}
                    {% if like_by_user %}
                        <form method="POST" action="{% url 'like_article' object.id %}">
                            {% csrf_token %}
                            <button class="btn"> 
                            
                             {% if object.likes.count == 0 %}
                                 <p class="text-muted"> 🖤 </p>
                             {% else %}
                                 <p class="text-muted">{{ object.likes.count }} ❤</p>
                             {% endif %}
                            
                              </button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'like_article' object.id %}">
                            {% csrf_token %}
                            <button class="btn">
                            
                                {% if object.likes.count == 0 %}
                                    <p class="text-secondary"><i class="fa fa-heart" aria-hidden="true"></i></p>
                                {% else %}
                                    <p class="text-danger">{{ object.likes.count }} <i class="fa fa-heart" aria-hidden="true"></i></p>
                                {% endif %}
                             
                             </button>
                        </form>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="btn text-info"><i class="fa fa-heart" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>

        

        <div class="row">
            <div class="col-6 text-start">
                {% if request.user.username == object.author.username or request.user.is_superuser %}
                    <div class="pb-3">
                        <a href="{% url 'delete' object.pk %}" class="pb-3">Удалить</a>
                    </div>
                {% endif %}
            </div>
            {% if request.user.is_superuser and object.featured == False %}
                <div class="col-6 text-end">
                
                    <form method="POST" action="{% url 'moderated' object.id %}">
                        {% csrf_token %}
                        <button class="btn">
                            <p title="Одобрить предложенную новость" class="text-primary"><i class="fa-solid fa-newspaper"></i></p>
                        </button>
                    </form>
                </div>
            {% endif %}
            
        </div>

        <div class="col-12 mb-5">
            {{ object.content|safe }}
        </div>

   
    </div>
</div>

{% endblock content %}