{% extends "core/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-1 text-center">
            <h1 class="fw-bolder">Мои закладки</h1>
        </div>
    </div>

    {% for object in object_list %}
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-3 mb-5">
            <div class="card">
                <img src="{{ object.image.url }}" class="card-img-top" alt="Что то пошло не так, изображения нет!">
                <div class="card-body">
                    <h3 class="card-title">{{ object.title }}</h3>
                    <p class="text-muted">Автор: {{ object.author.username }}  |  Дата: {{ object.date }} </p>
                    <div class="card-text my-3">
                        {{ object.content|truncatewords_html:50|safe }}
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <a href="{% url 'detail_article' object.id %}">Читать полностью</a>
                            </div>
                            <div class="col-4 text-end">
                                {% if object.likes.count == 0 %}
                                    <p class="text-muted"> 🖤 </p>
                                {% else %}
                                    <p class="text-muted">{{ object.likes.count }} ❤</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <nav>
        <ul class="pagination">
            <div class="mx-auto d-flex flex-row mb-5">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; Первая</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previos_page_number }}"> Предыдущая </a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link" href="#">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                    </li>
                {% endif %}


            </div>
        </ul>

    </nav>
{% endblock content %}