{% extends "core/base.html" %}

{% block content %}
    <form action="{% url 'search' %}" method="get">
    <div class="row">
        <div class="input-group col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-1 text-center">
            <input type="text" class="form-control" placeholder="Поиск..." aria-label="Поиск..." aria-describedby="button-search" name="q">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Искать</button>
        </div>
    </div>


    <hr>
    

    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-1 text-center">
            <h1 class="fw-bolder colnav">Свежие новости</h1>
        </div>
    </div>



        {% for object in object_list %}
        <div class="row">
            <div class="col-md-6 col-12 mx-md-auto mx-3 mt-3 mb-5">
                <div class="card">
                    <img src="{{ object.image.url }}" class="card-img-top" alt="Что то пошло не так, изображения нет!">
                    <div class="card-body">
                        <h3 class="card-title">{{ object.title }}</h3>
                        <div class="row">
                            <div class="col-10">
                                <p class="text-muted">Автор: {{ object.author.username }}  |  Дата: {{ object.date }} </p>
                            </div>
                            <div class="col-2">
                                {% if object.likes.count == 0 %}
                                    <p class="text-secondary"><i class="fa fa-heart" aria-hidden="true"></i></p>
                                {% else %}
                                    <p class="text-danger">{{ object.likes.count }} <i class="fa fa-heart" aria-hidden="true"></i></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-text my-3">
                            {{ object.content|truncatewords_html:50|safe }}
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'detail_article' object.id %}">Читать полностью</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
    <nav>
        <ul class="pagination">
            <div class="mx-auto d-flex flex-row mb-5">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; Первая</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previos_page_number }}"> Предыдущая </a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link" href="#">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                    </li>
                {% endif %}


            </div>
        </ul>

    </nav>
{% endblock content %}