<div class="container-fluid">
    <div class="row">
        <div class="d-xl-none col-12">
            <h3 class="colnav">
                <a class="{% if nav_bar_color == 'index' %} link_active {% else %} link {% endif %}" title="К списку новостей" href="{% url 'index' %}">
                    <i class="fa-solid fa-home"></i>
                </a>
            </h3>
        </div>
        <div class="d-none d-xl-block col-md-2 gx-1">
            <h4 class="colnav"><i class="fa-solid fa-home"></i></h4>
        </div>
        <div class="col-md-10 d-none d-xl-block">
            <a class="{% if nav_bar_color == 'index' %} link_active {% else %} link {% endif %}" href="{% url 'index' %}">
                <h4 title="К списку новостей">Главная</h4>
            </a>
        </div>
    </div>

    
    {% if request.user.is_authenticated %}
    
        {% if request.user.is_superuser %}
            <div class="row">
                <div class="d-xl-none col-12">
                    <h3 class="colnav">
                        <a class="{% if nav_bar_color == 'featured' %} link_active {% else %} link {% endif %}" title="Новости на модерацию" href="{% url 'featured' %}">
                            <i class="fa-solid fa-newspaper"></i>
                        </a>
                    </h3>
                </div>
                <div class="d-none d-xl-block col-md-2 gx-1">
                    <h4 class="colnav"><i class="fa-solid fa-newspaper"></i></h4>
                </div>
                <div class="col-md-10 d-none d-xl-block">
                    <a class="{% if nav_bar_color == 'featured' %} link_active {% else %} link {% endif %}" href="{% url 'featured' %}">
                        <h4 title="Новости на модерацию">Модерация</h4>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="d-xl-none col-12">
                <h3 class="colnav">
                    <a class="{% if nav_bar_color == 'new' %} link_active {% else %} link {% endif %}" title="Предложить новость" href="{% url 'create' %}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </h3>
            </div>
            <div class="d-none d-xl-block col-md-2 gx-1">
                <h4 class="colnav"><i class="fa-solid fa-plus"></i></h4>
            </div>
            <div class="col-md-10 d-none d-xl-block text-start">
                <a class="{% if nav_bar_color == 'new' %} link_active {% else %} link {% endif %}" href="{% url 'create' %}">
                    <h4 title="Предложить новость">Новая</h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="d-xl-none col-12">
                <h3 class="colnav"><a title="Выйти с сайта" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a></h3>
            </div>
            <div class="d-none d-xl-block col-md-2 gx-1">
                <h4 class="colnav"><i class="fa fa-sign-out"></i></h4>
            </div>
            <div class="col-md-10 d-none d-xl-block text-start">
                <a class="link" href="{% url 'logout' %}">
                    <h4 title="Выйти с сайта">Выход</h4>
                </a>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="d-xl-none col-12">
                <h3 class="colnav">
                    <a class="{% if nav_bar_color == 'profile' %} link_active {% else %} link {% endif %}" title="Профиль пользователя" href="{% url 'profile' %}">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </h3>
            </div>
            <div class="d-none d-xl-block col-md-2 gx-1">
                <h4 class="colnav"><i class="fa-solid fa-user"></i></h4>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <a class="{% if nav_bar_color == 'profile' %} link_active {% else %} link {% endif %}" href="{% url 'profile' %}">
                    <h4 title="Профиль пользователя">{{ request.user.username }}</h4>
                </a>
            </div>
        </div>
        
        
    {% else %}

        <div class="row">
            <div class="d-xl-none col-12">
                <h3 class="colnav">
                    <a class="{% if request.resolver_match.view_name == 'register' %} link_active {% else %} link {% endif %}" title="Зарегистрироваться на сайте" href="{% url 'register' %}">
                        <i class="fa-solid fa-key"></i>
                    </a>
                </h3>
            </div>
            <div class="d-none d-xl-block col-md-2 gx-1">
                <h4 class="colnav"><i class="fa-solid fa-key"></i></h4>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <a class="{% if request.resolver_match.view_name == 'register' %} link_active {% else %} link {% endif %}" href="{% url 'register' %}">
                    <h4 title="Зарегистрироваться на сайте">Регистрация</h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="d-xl-none col-12">
                <h3 class="colnav">
                    <a class="{% if request.resolver_match.view_name == 'login' %} link_active {% else %} link {% endif %}" title="Войти на сайт" href="{% url 'login' %}">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </h3>
            </div>
            <div class="d-none d-xl-block col-md-2 gx-1">
                <h4 class="colnav"><i class="fa-solid fa-right-to-bracket"></i></h4>
            </div>
            <div class="col-md-10 d-none d-xl-block text-start">
                <a class="{% if request.resolver_match.view_name == 'login' %} link_active {% else %} link {% endif %}" href="{% url 'login' %}">
                    <h4 title="Войти на сайт">Вход</h4>
                </a>
            </div>
        </div>
    {% endif %}

    <br >
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                  {{ message }}
             </div>
        {% endfor %}
    {% endif %}

</div>    

