<div class="container-fluid">
    <div class="row">
        <div class="d-md-none col-12 text-center">
            <h3 class="colnav"><a href="#"><i class="fa-solid fa-home"></i></a></h1>
        </div>
        <div class="d-none d-md-block col-md-2">
            <h3 class="colnav"><i class="fa-solid fa-home"></i></h3>
        </div>
        <div class="col-md-10 d-none d-md-block">
            <a class="link" href="#">
                <h3>Домой</h3>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="d-md-none col-12 text-center">
            <h3 class="colnav"><a href="#"><i class="fa-solid fa-newspaper"></i></a></h3>
        </div>
        <div class="d-none d-md-block col-md-2">
            <h3 class="colnav"><i class="fa-solid fa-newspaper"></i></h3>
        </div>
        <div class="col-md-10 d-none d-md-block">
            <a class="link" href="#">
                <h3>Новости</h3>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="d-md-none col-12 text-center">
            <h3 class="colnav"><a href="#"><i class="fa-solid fa-user"></i></a></h3>
        </div>
        <div class="d-none d-md-block col-md-2">
            <h5 class="colnav"><i class="fa-solid fa-user"></i></h5>
        </div>
        <div class="col-md-10 d-none d-md-block">
            <a class="link" href="#">
                <h3>Мой профиль</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-md-none col-12 text-center">
            <h3 class="colnav"><a href="#"><i class="fa-solid fa-key"></i></a></h3>
        </div>
        <div class="d-none d-md-block col-md-2">
            <h3 class="colnav"><i class="fa-solid fa-key"></i></h3>
        </div>
        <div class="col-md-10 d-none d-md-block">
            <a class="link" href="#">
                <h3>Регистрация</h3>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="d-md-none col-12 text-center">
            <h3 class="colnav"><a href="#"><i class="fa-solid fa-right-to-bracket"></i></a></h3>
        </div>
        <div class="d-none d-md-block col-md-2">
            <h5 class="colnav"><i class="fa-solid fa-right-to-bracket"></i></h5>
        </div>
        <div class="col-md-10 d-none d-md-block text-start">
            <a class="link" href="#">
                <h3>Вход в аккаунт</h3>
            </a>
        </div>
    </div>
</div>    