{% extends 'core/base.html' %}
{% load static%}
{% load user_extras %}
{% block content %}

<div class="row">
    <div class="col-md-9 col-12 mx-md-auto mb-3 pb-2 mx-3 my-3">

        <div class="card text-center">
            <div class="card-body">
                <h2 class="text-center mb-5 card-title">Профиль пользователя:</h2>
                    <div class="row card-text">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{ request.user.account.account_image.url }}" alt="{{ request.user.username }}"
                                class="rounded-circle" width="300" height="240">
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <h4 class="text-start">Аккаунт:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.username }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Ник:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.account.nickname }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Имя:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.first_name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Фамилия:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.last_name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">EMail:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.email }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Дата входа:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.last_login|date:"d.m.Y" }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Регистрация:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ request.user.date_joined|date:"d.m.Y" }}</h3>
                        </div>
                    </div>
                <a href="{% url 'profile_update' %}" class="btn btn-primary">Редактировать</a>
                {% if request.user.is_superuser %}
                    <a href="{% url 'admin:index' %}" class="btn btn-primary">Панель администратора</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}