{% extends 'core/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9 col-12 mx-md-auto mb-3 pb-2 mx-3 my-3">

        <div class="card text-center">
            <div class="card-body">
                <h2 class="text-center mb-5 card-title">Профиль пользователя:</h2>
                    <div class="row card-text">
                        <div class="col-6">
                            <h4 class="text-start">НикНейм:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ user.username }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Имя:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ user.first_name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Фамилия:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ user.last_name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">EMail:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ user.email }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Дата входа:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ user.last_login|date:"d.m.Y" }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start">Регистрация:</h4>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">{{ user.date_joined|date:"d.m.Y" }}</h3>
                        </div>
                    </div>
                <a href="#" class="btn btn-primary">Редактировать</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}