
.link {
    text-decoration: none;
    color: blue;
}

.colnav {
    color: blue;
}

.menu_fixed {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 5px;
}

.menu_fixed a:hover {
    color: #851515;
}